.sm-icon {
    padding-left: 8px;
    padding-right: 8px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.no-left-padding {
    padding-left: 0px !important;
}

.no-right-padding {
    padding-right: 4px;
}

.link-no-underline {
    text-decoration: none;
}


.sm-link {
    padding-left: 0px;
    padding-right: 8px;
    font-size: large;
    text-decoration: none;
}

.sm-link .email {
    color:red;
}


.main-links {
    padding-top: 140px;
    padding-left: 0px;
    padding-right: 8px;
    align-self: center;
    justify-content:center;
}

.btn-link {
    width=320px !important;
}

.skill {
    margin-top: 0px;
    display: inline-block;
    height: 38px;
    padding: 2 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #222;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: none;
    text-decoration: none;
    white-space: nowrap;
    background-color: #e1e1e1;
    border-radius: 90px;
    border: 1px solid #bbb;
    cursor: initial;
    box-sizing: border-box;
    margin-left: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    min-width: 70%;
    background: #e1e1e1;
    overflow: hidden;
    position: static;
    margin: 4px;
    border-radius: 15px;
    border: 1px solid #bbb;
}

.project-card-image {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.1);
}

.project-card-title {
    transition: background-color 200ms ease;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.project-card-content {
    padding: 0px 30px 30px 30px;
    overflow-y: auto;
}

.project-card-date {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.project-card-video-con {
    flex-grow: 1;
    overflow: hidden;
}

.project-card-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.section-grid {
    height: 100%;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /*350px min width of grid item*/
    line-grid:create;
    justify-content: center;
}

.stick-to-top {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

.mobile-hide{visibility:hidden;}

@media (min-width: 400px) {
    .mobile-hide {visibility:visible;}
}

#test {
    background-color:red;
}

#note {
    font-style: italic;
    padding-top: 10px;
}

